---
import MenuItemsContrainer from "./MenuItemsContrainer.astro";
---

<header
  id="header"
  class="nav relative bg-logo flex items-center justify-between py-3 px-5"
>
  <section>
    <img class="w-[120px]" src="img/oa4.jpg" alt="" />
  </section>

  <section class="menu">
    <nav>
      <ul class="hidden sm:flex gap-3">
        <MenuItemsContrainer />
      </ul>
      <button id="bar-menu" class="block sm:hidden">
        <i class="fa-solid fa-bars text-3xl"></i>
      </button>
    </nav>
  </section>
  <ul
    id="menu-small"
    class="bar-animation fixed px-5 flex flex-col gap-5 z-10 left-0 w-screen"
  >
    <MenuItemsContrainer />
  </ul>
</header>

<script>
  let show = false;
  //Config
  const menuSmall = document.querySelector<HTMLElement>("#menu-small");

  const header = document.querySelector<HTMLHeadElement>("#header");
  const headerHeight = header?.clientHeight;

  function onFixedNav() {
    if (window.scrollY > headerHeight!) header?.classList.add("nav-scrolled");
    else header?.classList.remove("nav-scrolled");
  }

  window.addEventListener("scroll", onFixedNav);

  menuSmall!.style.top = `${headerHeight}px`;
  const button = document.querySelector("#bar-menu");
  button?.addEventListener("click", () => {
    show = !show;
    if (show) {
      menuSmall!.style.height = `calc(100vh - ${headerHeight}px)`;
    } else {
      menuSmall!.style.height = "0";
    }
  });
</script>

<style>
  .bar-animation {
    -webkit-transition: height 0.7s ease;
    -moz-transition: height 0.7s ease;
    -ms-transition: height 0.7s ease;
    -o-transition: height 0.7s ease;
    transition: height 0.7s ease;
    background: #ffffff;
    overflow: hidden;
    height: 0;
  }
  .nav {
    transition: position 0.3s ease;
  }
  .nav-scrolled {
    position: sticky;
    top: 0;
    z-index: 10;
  }
</style>
