---
import type { PriceInfo } from "../../types/card";

interface Props extends PriceInfo {}

const { title, price } = Astro.props;
---

<div
  class="priceInfoContainer flex relative bg-transparent z-[1] px-5 flex-[1] w-full items-center justify-between text-xl"
>
  <div
    class="absolute priceInfoContact flex gap-5 justify-center items-center top-[0] left-[0] h-full bg-nav -z-[1]"
  >
  </div>
  <div class="absolute w-full h-full bg-nav-text-color -z-[2] top-[0] left-[0]">
  </div>
  <span class="text-nav text-3xl">{title}</span>
  <span class="text-nav text-3xl font-bold">${price}</span>
</div>

<style>
  .priceInfoContainer {
    transition:
      transform 0.15s ease,
      border 0.15s ease;
    &:hover {
      .priceInfoContact {
        width: 100%;
      }

      span {
        color: #a3ddcb !important;
      }
    }
  }

  .priceInfoContact {
    width: 0;
    transition: width 0.5s ease-out;
    overflow-x: hidden;
  }
</style>
