---
import HomeCard from "../components/HomeCard.astro";
import Layout from "../layouts/Layout.astro";
import Carrousel from "../components/Carrousel/Carrousel.astro";
import { CARROUSEL_IMAGES } from "../constants";
---

<Layout title="Pensacola, FL">
  <div class="flex justify-center mb-20">
    <Carrousel images={CARROUSEL_IMAGES} />
  </div>
  <article class="flex flex-col gap-10">
    <HomeCard
      title="¡Gracias por visitar Headhunter Hairstyling!"
      image="img/oa5.jpg"
    >
      Nos alegra que nos haya encontrado y que esté interesado en saber más
      sobre nuestros estilistas y servicios. Echa un vistazo alrededor, llámenos
      o pase por y estaremos encantados de mostrarle por qué hemos sido un
      elemento básico en el histórico Pensacola desde 1978. Estamos
      convenientemente ubicados en el centro de Pensacola y a poca distancia de
      la mayoría de las empresas y restaurantes de la zona. Descubra más sobre <a
        class="text-main-text-color font-bold"
        href="#about">nosotros.</a
      >
    </HomeCard>

    <HomeCard title="About us" image="img/oa6.jpg" orientation="right">
      <p>
        Empezamos Headhunter Hairstyling con un único objetivo en mente,
        ¡hacerte sentir que cada corte o estilo es especial!
      </p>

      <p>
        Sea cual sea su estilo, clásico o de moda, tenemos la experiencia para
        llevar su visión a la vida. Con peluqueros y estilistas en el personal,
        tenemos la persona adecuada que le puede ayudar con sus necesidades de
        estilo. Pase por aquí y estaremos encantados de mostrarle por qué hemos
        sido un elemento básico en el histórico Pensacola desde 1978.
      </p>

      <p>
        Situado en 205 South Baylen Street, estamos convenientemente ubicados en
        el centro de Pensacola. A poca distancia de la mayoría de las empresas y
        restaurantes de la zona centro, pasar por durante su almuerzo o venir
        después del trabajo para un corte o estilo.
      </p>

      <p></p>
    </HomeCard>
  </article>
</Layout>
