---
import Card from "../components/Card/Card.astro";
import Layout from "../layouts/Layout.astro";
import { CardServicePriceInfo } from "../constants";
---

<Layout title="Service">
  <div class="flex flex-col gap-10 my-12">
    {
      CardServicePriceInfo.map((item, i) => {
        return <Card {...item} index={i} />;
      })
    }
  </div>
</Layout>
