<footer
  id="footer"
  class="bg-footer flex flex-col md:flex-row gap-5 justify-between items-center w-full text-[white] px-3 py-10 md:px-5 lg:px-7"
>
  <section>
    <button>
      <h1 class="text-3xl">HeadHunter Hairstyling</h1>
    </button>
  </section>
  <section
    class="flex lg:flex-row justify-center items-center flex-col gap-3 h-fit"
  >
    <span class="border-r-[2px] px-3">205 S Baylen St. Pensacola, FL</span>
    <span>850-433-3308</span>
    <span class="border-l-[2px] px-3">info@headhunterhairstyling.com</span>
  </section>
  <section class="flex gap-3">
    <img
      src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_50,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e0678ef25486466ba65ef6ad47b559e1.png"
      alt=""
    />
    <img
      src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_50,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c4392d634a0148fda8b7b2b0ad98293b.png"
      alt=""
    />
    <img
      src="https://static.wixstatic.com/media/046efec37b594017ac59d36499fc32a9.png/v1/fill/w_50,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/046efec37b594017ac59d36499fc32a9.png"
      alt=""
    />
  </section>
</footer>

<script>
  const footer = document.querySelector("#footer");

  footer?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
