---
import type { WithOrientation } from "../types";
import Title from "./Title.astro";

interface Props extends Partial<WithOrientation> {
  title: string;
  image: string;
}
const { title, orientation, image } = Astro.props;
---

<section
  class={`flex flex-col md:flex-row gap-5 ${
    orientation === "right" ? "flex-row-reverse" : ""
  }`}
>
  <img src={image} class="h-full w-full" alt="" />

  <div>
    <Title title={title} class={orientation === "right" ? "text-right" : ""} />
    <div class="text-justify text-xl">
      <slot />
    </div>
  </div>
</section>
