---
interface Props {
  icon: string;
}

const { icon } = Astro.props;
---

<button class="p-6 contact-button">
  <i class={`${icon || "fa-solid fa-phone"} transition-transform`}></i>
</button>

<style>
  .contact-button {
    &:hover {
      i {
        transform: scale(1.3);
      }
    }
  }
</style>
