---
import ContactCards from "../components/ContactCard/ContactCards.astro";
import Menu from "../components/Menu/Menu.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maxium-scale=1.0,
    minium-scale=1.0"
    />
    <title>Headhunter Hairstyling | {title}</title>
  </head>
  <body>
    <Menu />
    <ContactCards />
    <main class="main">
      <slot />
    </main>
    <Footer />

    <script
      src="https://kit.fontawesome.com/9d96d0d962.js"
      crossorigin="anonymous"></script>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "open-sans";
    src: url("/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: open-sans, system-ui, sans-serif;
  }

  .main {
    min-height: 100vh;
  }

  .title-container {
    position: relative;
  }

  .title-container::after {
    content: "";
    transition: transform 1s ease;
    position: absolute;
    bottom: -5px;
    width: 100%;
    transform: scale(0);
    height: 2px;
    background-color: black;
  }

  .title-container-width::after {
    transform: scale(1);
  }

  @keyframes startFading {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
</style>
